@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Thin Italic Medium Italic.woff") format("woff"), url("fonts/Montserrat Thin Italic Medium Italic.eot") format("embedded-opentype"), url("fonts/Montserrat Thin Italic Medium Italic.ttf") format("truetype"), url("fonts/Montserrat Thin Italic Medium Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat.woff") format("woff"), url("fonts/Montserrat.eot") format("embedded-opentype"), url("fonts/Montserrat.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat Black";
   src: url("fonts/Montserrat Black.woff") format("woff"), url("fonts/Montserrat Black.eot") format("embedded-opentype"), url("fonts/Montserrat Black.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}